<td class="{{lineClass}} {{type}}">
  {{{lineNumber}}}
</td>
<td class="{{type}}">
  <div class="{{contentClass}} {{type}}">
    <span class="d2h-code-line-ctn d2h-code-line-ctn-with-table" data-code-marker="{{{prefix}}}">{{{content}}}</span>
  </div>
</td>
