<tr>
    <td class="{{lineClass}} {{diffParser.LINE_TYPE.INFO}}" colspan="1"></td>
    <td class="{{diffParser.LINE_TYPE.INFO}}" colspan="3">
        <div class="{{contentClass}} {{diffParser.LINE_TYPE.INFO}} d2h-info-word-wrap">{{{blockHeader}}}</div>
    </td>
</tr>
